<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Políticas de servicio
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">

            <div style="text-align: justify;">
                <h3>CONDICIONES DE SERVICIO</h3>
                <br><br>
                <h4>
                    INFORMACIÓN GENERAL
                </h4>
                Este sitio web es operado por
                digirethnetword.
                En todo el sitio, los términos "nosotros", "nos", "nuestro" y "nuestra" se refieren a digirethnetword.
                digirethnetword ofrece este sitio web, incluyendo toda la información, herramientas y servicios
                disponibles en este
                sitio para usted, el usuario, con la condición de que acepte todos los términos, condiciones, políticas
                y avisos
                aquí establecidos.<br>Al visitar nuestro sitio y/o comprarnos algo, usted está participando en
                nuestro
                "Servicio" y aceptando los siguientes términos y condiciones ("Términos de Servicio", "Términos"),
                incluyendo
                cualquier término, condición y política adicional referida en este documento y/o disponible a través de
                hipervínculos. Estas condiciones de servicio se aplican a todos los usuarios del sitio, incluidos, entre
                otros, los
                usuarios que son navegantes, proveedores, clientes, comerciantes y/o colaboradores de
                contenidos.<br>Le rogamos
                que lea atentamente estas condiciones de servicio antes de acceder o utilizar nuestro sitio web. Al
                acceder o
                utilizar cualquier parte del sitio, usted acepta las condiciones de uso. Si no acepta todos los términos
                de este
                acuerdo, no debe acceder al sitio web ni utilizar los servicios. Si las Condiciones del Servicio se
                consideran una
                oferta, la aceptación se limita expresamente a estas Condiciones del Servicio.<br>Cualquier
                nueva función o
                herramienta que se añada a la tienda actual también estará sujeta a las Condiciones de servicio. Puede
                consultar la
                versión actual de las condiciones de servicio en cualquier momento en esta página. Nos reservamos el
                derecho de
                actualizar, modificar o sustituir cualquier parte de las Condiciones de Servicio publicando
                actualizaciones y/o
                cambios en nuestro sitio web. Es su responsabilidad revisar periódicamente esta página para ver si hay
                cambios. El
                uso o acceso continuado al sitio web tras la publicación de cualquier cambio constituye la aceptación de
                dichos
                cambios.<br>Nuestra tienda está alojada en Shopify Inc. que nos proporciona la plataforma de
                comercio
                electrónico en línea, que nos permite vender nuestros productos y servicios a usted.<br><br>
                <h4>
                    SECCIÓN
                    1 - TÉRMINOS
                    DE SHOPIFY
                </h4>
                Al utilizar este sitio, usted declara que es mayor de edad en su estado o provincia de
                residencia,
                o que es mayor de edad en su estado o provincia de residencia y que nos ha dado su consentimiento para
                que los
                menores a su cargo puedan utilizar este sitio.<br>Usted no puede utilizar nuestros productos para
                ningún
                propósito ilegal o no autorizado, ni puede, al utilizar el servicio, violar ninguna ley en su
                jurisdicción
                (incluyendo, pero no limitado a, las leyes de derechos de autor).<br>No puede transmitir gusanos,
                virus o
                cualquier código de naturaleza destructiva.<br>El incumplimiento o la violación de cualquiera de
                estos términos
                dará lugar a la terminación inmediata de sus servicios.<br><br>
                <h4>
                    SECCIÓN 2 - TÉRMINOS Y
                    CONDICIONES
                </h4>
                Nos
                reservamos el derecho de rechazar el servicio a cualquier persona por cualquier motivo y en cualquier
                momento.<br>Usted entiende que su contenido (excluyendo la información de la tarjeta de crédito)
                puede ser
                transferido sin cifrar y puede implicar (a) transmisiones a través de varias redes y (b) cambios para
                ajustarse o
                adaptarse a los requisitos técnicos de las redes o dispositivos de conexión. La información de las
                tarjetas de
                crédito siempre se encripta cuando se transfiere a través de las redes.<br>Usted se compromete a no
                reproducir,
                duplicar, copiar, vender, revender o explotar cualquier parte del servicio, el usp del servicio, o el
                acceso al
                servicio o cualquier contacto en el sitio web a través del cual se proporciona el servicio, sin nuestro
                permiso
                expreso por escrito.<br>Los títulos utilizados en este Acuerdo son sólo por conveniencia y no
                limitan o afectan
                a estos Términos.<br><br>
                <h4>
                    SECCIÓN 3 - EXACTITUD, INTEGRIDAD Y ACTUALIDAD DE LA INFORMACIÓN
                </h4>
                No
                seremos
                responsables si la información disponible en este sitio no es exacta, completa o actual. El contenido de
                este sitio
                se proporciona únicamente con fines de información general y no debe ser invocado ni utilizado como
                única base para
                tomar decisiones sin consultar previamente información más precisa, completa o actualizada. Cualquier
                uso del
                contenido de este sitio es bajo su propio riesgo.<br>Este sitio puede contener cierta información
                histórica. La
                información histórica no es necesariamente actual y se proporciona sólo como referencia. Nos reservamos
                el derecho
                de cambiar el contenido de este sitio en cualquier momento, pero no tenemos ninguna obligación de
                actualizar la
                información en nuestro sitio. Usted acepta que es su responsabilidad supervisar los cambios en nuestro
                sitio.<br><br>
                <h4>
                    SECCIÓN 4 - CAMBIOS EN EL SERVICIO Y LOS PRECIOS
                </h4>
                Los precios de nuestros productos
                están
                sujetos a cambios sin previo aviso.<br>Nos reservamos el derecho de cambiar o interrumpir el servicio (o 
                cualquier parte del contenido) en cualquier momento sin previo aviso.<br>No seremos responsables ante usted ni ante ningún tercero por cualquier modificación, cambio de precio, suspensión o interrupción del
                servicio.<br><br>
                <h4>
                    SECCIÓN 5 - PRODUCTOS O SERVICIOS (si procede)
                </h4>
                Algunos productos o servicios
                pueden
                estar disponibles exclusivamente en línea a través del sitio web. Estos productos o servicios pueden
                tener
                cantidades limitadas y pueden ser objeto de devolución o cambio de acuerdo con nuestra política de
                devoluciones
                únicamente.<br>Hemos hecho todo lo posible para mostrar los colores y las imágenes de nuestros
                productos, en la
                tienda, con la mayor precisión posible. No podemos garantizar que el monitor de su ordenador muestre los
                colores con
                precisión.<br>Nos reservamos el derecho, pero no estamos obligados, a limitar las ventas de nuestros
                productos o
                servicios a cualquier persona, zona geográfica o jurisdicción. Podemos ejercer este derecho en función
                de cada caso.
                Nos reservamos el derecho de limitar las cantidades de productos o servicios que ofrecemos. Todas las
                descripciones
                de los productos o los precios de los mismos están sujetos a cambios en cualquier momento sin previo
                aviso a nuestra
                entera discreción. Nos reservamos el derecho de suspender cualquier producto en cualquier momento.
                Cualquier oferta
                de productos o servicios realizada en este sitio es nula donde esté prohibida.<br>No garantizamos
                que la calidad
                de los productos, servicios, información u otros materiales adquiridos u obtenidos por usted satisfagan
                sus
                expectativas, ni que se corrijan los errores del servicio.<br><br>
                <h4>
                    SECCIÓN 6 - PRECISIÓN DE LA FACTURACIÓN E INFORMACIÓN DE LA CUENTA
                </h4>
                Nos reservamos el derecho a rechazar cualquier pedido que nos haga.
                Podemos, a
                nuestra discreción, limitar o cancelar las cantidades compradas por persona, por hogar o por pedido.
                Estas
                restricciones pueden incluir pedidos realizados por o bajo la misma cuenta de cliente, la misma tarjeta
                de crédito,
                y/o pedidos que utilicen la misma dirección de facturación y/o envío.<br>Si cambiamos o cancelamos
                un pedido,
                podemos intentar notificárselo poniéndonos en contacto con usted por correo electrónico y/o con la
                dirección de
                facturación o el número de teléfono facilitados en el momento del pedido. Nos reservamos el derecho de
                limitar o
                prohibir los pedidos que, a nuestro juicio, parezcan realizados por concesionarios, revendedores o
                distribuidores.<br>Usted se compromete a proporcionar información de compra y de cuenta actual,
                completa y
                precisa para todas las compras realizadas en nuestra tienda. Usted se compromete a actualizar
                puntualmente su cuenta
                y otros datos, incluida su dirección de correo electrónico y los números y fechas de caducidad de las
                tarjetas de
                crédito, para que podamos procesar sus transacciones y ponernos en contacto con usted si es
                necesario.<br>Para
                más detalles, consulte nuestra política de devoluciones.<br><br>
                <h4>
                    SECCIÓN 7 - HERRAMIENTAS OPCIONALES.
                </h4>
                Es posible que le proporcionemos acceso a herramientas de terceros que no controlamos ni sobre las que
                tenemos
                influencia.<br>Usted reconoce y acepta que proporcionamos el acceso a estas herramientas "tal cual"
                y "según
                disponibilidad", sin garantías, representaciones o condiciones de ningún tipo y sin ningún tipo de
                respaldo. No
                tendremos ninguna responsabilidad que surja de o en relación con su uso de cualquier herramienta
                proporcionada por
                terceros.<br>Cualquier uso que usted haga de las herramientas opcionales ofrecidas en el Sitio es
                bajo su propio
                riesgo y debe asegurarse de que conoce y acepta los términos y condiciones bajo los cuales dichas
                herramientas son
                proporcionadas por el/los proveedor/es de terceros.<br>También podemos, en el futuro, ofrecerle
                nuevos servicios
                y/o características a través del sitio (incluyendo el lanzamiento de nuevas herramientas y recursos).
                Estas nuevas
                funciones y/o servicios también estarán sujetos a estas Condiciones de
                servicio.<br><br>
                <h4>
                    SECCIÓN 8 - ENLACES A TERCEROS
                </h4>
                Algunos contenidos, productos y servicios disponibles a través de nuestro
                servicio pueden
                incluir materiales de terceros.<br>Los enlaces de terceros en este sitio pueden dirigirle a sitios
                web de
                terceros que no están afiliados a nosotros. No somos responsables de examinar o evaluar el contenido o
                la exactitud
                y no garantizamos ni tendremos ninguna responsabilidad por ningún material o sitio web de terceros, ni
                por ningún
                material, producto o servicio de terceros.<br>No somos responsables de ningún daño o perjuicio
                relacionado con
                la compra o el uso de bienes, servicios, recursos, contenidos o cualquier otra transacción realizada en
                relación con
                sitios web de terceros. Por favor, revise cuidadosamente las políticas y prácticas de terceros y
                asegúrese de
                entenderlas antes de realizar cualquier transacción. Las quejas, reclamaciones, inquietudes o preguntas
                sobre
                productos de terceros deben dirigirse al tercero en cuestión.<br><br>
                <h4>
                    SECCIÓN 9 - COMENTARIOS DE LOS USUARIOS, SOLICITUDES Y OTROS ENVÍOS
                </h4>
                Si, a petición nuestra, usted realiza ciertas presentaciones
                específicas (por
                ejemplo, participaciones en concursos) o si, sin que nosotros lo solicitemos, usted envía ideas
                creativas,
                sugerencias, propuestas, planes u otros materiales, ya sea en línea, por correo electrónico, por correo
                o de otra
                manera (colectivamente, "Comentarios"), usted acepta que podamos, en cualquier momento y sin limitación,
                modificar,
                copiar, publicar, distribuir, traducir o utilizar de otra manera los Comentarios que nos envíe. No
                estamos ni
                estaremos obligados (1) a mantener la confidencialidad de ningún comentario; (2) a pagar ninguna
                compensación por
                ningún comentario; o (3) a responder a ningún comentario.<br>Podemos, pero no tenemos la obligación
                de,
                controlar, editar o eliminar el contenido que consideremos ilegal, ofensivo, amenazante, calumnioso,
                pornográfico,
                obsceno o censurable o que viole la propiedad intelectual de cualquier parte o las Condiciones del
                Servicio.<br>Usted se compromete a que sus comentarios no violen los derechos de terceros, incluidos
                los
                derechos de autor, marcas comerciales, privacidad, personalidad u otros derechos personales o de
                propiedad. Además,
                acepta que sus comentarios no contendrán material difamatorio o ilegal, abusivo u obsceno, ni virus
                informáticos u
                otro software malicioso que pueda afectar de algún modo al funcionamiento del servicio o de cualquier
                sitio web
                relacionado. No puede utilizar una dirección de correo electrónico falsa, utilizar una identidad que no
                sea la
                legítima, o engañar a otros o a nosotros en cuanto al origen de sus comentarios. Usted es el único
                responsable de
                los comentarios que haga y de su exactitud. No asumimos ninguna responsabilidad por los comentarios
                publicados por
                usted o por terceros.<br><br>   
                <h4>
                    SECCIÓN 10 - INFORMACIÓN PERSONAL
                </h4>
                El envío de información
                personal a través
                del Sitio se rige por nuestra Política de Privacidad. Para ver nuestra política de
                privacidad.<br><br>
                <h4>
                    SECCIÓN 11 - ERRORES, INEXACTITUDES Y OMISIONES
                </h4>
                De vez en cuando, puede haber información en nuestro sitio o
                en el
                Servicio que contenga errores tipográficos, inexactitudes u omisiones que puedan estar relacionadas con
                las
                descripciones de los productos, los precios, las promociones, las ofertas, los gastos de envío de los
                productos, el
                tiempo de tránsito y la disponibilidad. Nos reservamos el derecho de corregir cualquier error,
                inexactitud u omisión
                y de cambiar o actualizar la información o cancelar los pedidos si cualquier información del Servicio o
                de cualquier
                sitio web asociado es inexacta, en cualquier momento y sin previo aviso (incluso después de que usted
                envíe su
                pedido).<br>No tenemos ninguna obligación de actualizar, corregir o aclarar ninguna información del
                Servicio o
                de cualquier sitio web relacionado, incluyendo, pero sin limitarse a, la información sobre los precios,
                excepto
                cuando lo exija la ley. Ninguna especificación o fecha de actualización aplicada al Servicio o a
                cualquier sitio web
                relacionado se considerará que indica que toda la información del Servicio o de cualquier sitio web
                relacionado ha
                sido cambiada o actualizada.<br><br>
                <h4>
                    SECCIÓN 12 - USOS PROHIBIDOS.
                </h4>
                Además de las demás
                prohibiciones establecidas en las Condiciones de Uso, se le prohíbe utilizar el Sitio o el Contenido:
                (a) para
                cualquier propósito ilegal; (b) para solicitar a otros que realicen o participen en cualquier acto
                ilegal; (c) para
                violar cualquier reglamento, norma, ley internacional, federal, provincial o estatal, u ordenanza local;
                (d)
                infringir o violar nuestros derechos de propiedad intelectual o los de terceros; (e) acosar, abusar,
                insultar,
                dañar, difamar, calumniar, intimidar o discriminar por motivos de género, orientación sexual, religión,
                etnia, raza,
                edad, nacionalidad o discapacidad; (f) presentar información falsa o engañosa; (g) cargar o transmitir
                virus o
                cualquier otro código malicioso que sea o pueda ser utilizado de manera que pueda perjudicar la
                funcionalidad o el
                funcionamiento del Servicio o de cualquier sitio web relacionado, de otros sitios o de Internet (h)
                recopilar o
                rastrear la información personal de otros; (i) hacer spam, phishing, pharm, pretexto, spider, crawl o
                scrape; (j)
                con fines obscenos o inmorales; o (k) interferir o eludir las funciones de seguridad del Servicio o de
                cualquier
                sitio web relacionado, de otros sitios o de Internet. Nos reservamos el derecho a suspender su uso del
                Servicio o de
                cualquier sitio web relacionado si infringe cualquiera de los usos prohibidos.<br><br>
                <h4>
                    SECCIÓN 13 - EXCLUSIÓN DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD
                </h4>
                No garantizamos ni declaramos que el uso de nuestro
                servicio sea
                ininterrumpido, oportuno, seguro o libre de errores.<br>No garantizamos que los resultados que
                puedan obtenerse
                del uso del servicio sean precisos o fiables.<br>Usted acepta que, de vez en cuando, podemos retirar
                el servicio
                por períodos indefinidos o cancelar el servicio en cualquier momento sin previo aviso.<br>Usted
                acepta
                expresamente que el uso o la posibilidad de utilizar el servicio es por su cuenta y riesgo. El servicio
                y todos los
                productos y servicios proporcionados a través del servicio se proporcionan (salvo que lo indiquemos
                expresamente)
                "tal cual" y "según disponibilidad" para su uso, sin representaciones, garantías o condiciones de ningún
                tipo, ya
                sean expresas o implícitas, incluidas todas las garantías o condiciones implícitas de comerciabilidad,
                idoneidad
                para un fin determinado, durabilidad, título y no infracción.<br>En ningún caso digirethnetword,
                nuestros
                directores, funcionarios, empleados, afiliados, agentes, contratistas, pasantes, proveedores,
                proveedores de
                servicios o licenciantes serán responsables de ningún daño directo, indirecto, incidental, punitivo,
                especial o
                consecuente, pérdidas, reclamaciones o daños de cualquier tipo, incluyendo, sin limitación, la pérdida
                de
                beneficios, pérdida de ingresos, pérdida de ahorros, pérdida de datos, costos de reemplazo, o cualquier
                otro daño
                similar, ya sea basado en el contrato, agravio (incluyendo negligencia), responsabilidad estricta o de
                otro tipo,
                que surja del uso de cualquiera de los servicios o productos adquiridos a través del servicio, o por
                cualquier otra
                reclamación relacionada de alguna manera con el uso del servicio o de cualquier producto, incluyendo,
                pero sin
                limitarse a, cualquier error u omisión en cualquier contenido, o cualquier pérdida o daño de cualquier
                tipo
                incurrido como resultado del uso del servicio o de cualquier contenido (o producto) mostrado,
                transmitido o puesto a
                disposición a través del servicio, incluso si se avisa de la posibilidad de los mismos. Dado que algunos
                estados o
                jurisdicciones no permiten la exclusión o limitación de la responsabilidad por daños consecuentes o
                incidentales, en
                dichos estados o jurisdicciones nuestra responsabilidad se limitará al máximo permitido por la
                ley.<br><br>
                <h4>
                    SECCIÓN 14 - INDEMNIZACIÓN
                </h4>
                Usted se compromete a indemnizar, defender y mantener
                indemne a
                digirethnetword y a nuestras empresas matrices, subsidiarias, afiliadas, socios, funcionarios,
                directores, agentes,
                contratistas, licenciatarios, proveedores de servicios, subcontratistas, proveedores, internos y
                empleados, de
                cualquier reclamación o demanda, incluyendo los honorarios razonables de los abogados, hecha por
                cualquier tercero
                debido a, o que surja de, su incumplimiento de los Términos de Servicio o los documentos que incorporan
                por
                referencia, o su violación de cualquier ley o los derechos de un tercero.<br><br>
                <h4>
                    SECCIÓN 15: SECCIÓN DE INDEMNIZACIÓN
                </h4>
                En el caso de que se determine que alguna disposición de estas Condiciones del
                servicio es
                ilegal, nula o inaplicable, dicha disposición será, no obstante, efectiva en la medida máxima permitida
                por la
                legislación aplicable, y la parte inaplicable se considerará separable de estas Condiciones del
                servicio, sin que
                dicha determinación afecte a la validez o aplicabilidad de las disposiciones
                restantes.<br><br>
                <h4>
                    SECCIÓN 16 - TERMINACIÓN
                </h4>
                Las obligaciones y responsabilidades de las partes contraídas con anterioridad a la
                fecha de
                terminación sobrevivirán a la terminación del presente Acuerdo a todos los efectos.<br>Estas
                Condiciones de
                Servicio son efectivas hasta que sean rescindidas por usted o por nosotros. Usted puede rescindir estas
                condiciones
                de servicio en cualquier momento notificándonos que ya no desea utilizar nuestros servicios, o cuando
                deje de
                utilizar nuestro sitio.<br>Si, a nuestro juicio, usted incumple, o se alega que ha incumplido,
                cualquiera de los
                términos o disposiciones de estas condiciones de servicio, también podemos rescindir este acuerdo en
                cualquier
                momento sin notificárselo, y usted seguirá siendo responsable de todos los importes adeudados hasta la
                fecha de
                rescisión inclusive; y/o como resultado, podemos denegarle el acceso a nuestros servicios (o a cualquier
                parte de
                ellos).<br><br>
                <h4>
                    SECCIÓN 17 - ACUERDO COMPLETO
                </h4>El hecho de que no ejerzamos o hagamos valer
                cualquier derecho o
                disposición de estas Condiciones de Servicio no constituirá una renuncia a dicho derecho o
                disposición.<br>Estas
                Condiciones de Servicio y cualquier política o norma de funcionamiento publicada por nosotros en este
                sitio o
                relacionada con el Servicio constituyen el acuerdo y entendimiento completo entre usted y nosotros y
                rigen su uso
                del Servicio y sustituyen todos los acuerdos, comunicaciones y propuestas anteriores o contemporáneas,
                ya sean
                orales o escritas, entre usted y nosotros (incluyendo, sin limitación, todas las versiones anteriores de
                las
                Condiciones de Servicio).<br>Cualquier ambigüedad en la interpretación de estas Condiciones de Uso
                no se
                interpretará en contra del Grupo de Escritores.<br><br>
                <h4>
                    SECCIÓN 18 - DERECHO
                </h4>Estas condiciones
                de servicio
                y cualquier otro acuerdo por separado bajo el cual le proporcionemos servicios se regirán e
                interpretarán de acuerdo
                con las leyes de Madrid, MD, 28032, España.<br><br>
                <h4>
                    SECCIÓN 19 - CAMBIOS EN LAS CONDICIONES DE SERVICIO
                </h4>Puede consultar la versión más actualizada de las Condiciones del servicio en cualquier
                momento en
                esta página.<br>Nos reservamos el derecho, a nuestra entera discreción, de actualizar, modificar o
                sustituir
                cualquier parte de estas Condiciones de Servicio publicando actualizaciones y cambios en nuestro sitio
                web. Es su
                responsabilidad comprobar periódicamente si hay cambios en nuestro sitio web. El uso continuado o el
                acceso a
                nuestro sitio web o al Servicio tras la publicación de cualquier cambio en estas Condiciones de Servicio
                constituye
                la aceptación de dichos cambios.<br><br>
                <h4>
                    SECCIÓN 20 - INFORMACIÓN DE CONTACTO
                </h4>Las preguntas
                sobre las
                condiciones de uso deben enviarse a infodigirethnetword@gmail.com.
            </div>
        </div>
    </div>
</div>