<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>Poratfolio</span>
            <h2>Portafolio</h2>
            <p style="text-align: justify;">
                Te ofrecemos relojes de la marca Curren 100% originales. No todos los relojes tienen los mismos precios puesto que cada
                modelo cuenta con materiales diferentes como te lo hemos contado antes, dependiendo las necesidades del usuario. Estos
                relojes son una buena opción si no se cuenta con un buen presupuesto para un reloj de lujo que suelen costar miles de
                dólares, pero llevando esa esencia en esta gran marca.
            </p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

            <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="./assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="./assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="./assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <div class="btn btn-success position-absolute top-100 start-50 translate-middle">
                    Agregar al carro
                </div>
            </div>


        </div>

    </div>
</section><!-- End Portfolio Section -->