<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTree"
            aria-expanded="false" aria-controls="collapseTree">
            Política de envíos
        </button>
    </h2>
    <div id="collapseTree" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div style="text-align: justify;">
                <h4>¿Cuándo se procesará mi pedido?</h4>
                <p>Todos los pedidos se procesan y envían desde nuestro almacén en Suiza. Por favor, deje pasar más tiempo para
                    procesar su pedido durante los días festivos y los periodos de rebajas. Procesamos los pedidos de lunes a
                    viernes. Los pedidos se procesarán en un plazo de 2 a 4 días laborables a partir de la fecha del pedido y se
                    enviarán el siguiente día laborable después del día de procesamiento. Tenga en cuenta que no realizamos envíos
                    los fines de semana.<br><br>
                </p>
                <h4>¿Cuánto tiempo tarda en llegar mi pedido?</h4>
                <p>Una vez que haya realizado su pedido, espere un día hábil para que se procesen sus pedidos. Después, los
                    pedidos internacionales tardan entre 2 y 4 días laborables en ser entregados (dependiendo de la
                    ubicación).<br><br>
                </p>
                <h4>¿Tendré que pagar derechos de aduana e impuestos?</h4>
                <p> Los precios que figuran en nuestro sitio no incluyen impuestos en dólares estadounidenses, lo que significa
                    que es posible que tenga que pagar derechos e impuestos una vez que reciba su pedido. Los impuestos de
                    importación, los aranceles y las tasas aduaneras relacionadas pueden ser cargados una vez que su pedido llegue a
                    su destino final, y son determinados por su oficina local de aduanas. El pago de estas tasas e impuestos es su
                    responsabilidad y no será cubierto por nosotros. No nos hacemos responsables de los retrasos causados por el
                    servicio de aduanas de su país. Para más detalles sobre las tasas, póngase en contacto con su oficina de aduanas
                    local.<br><br></p>
            </div>
        </div>
    </div>
</div>