<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            Política de privacidad
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="rte">
                
                <h2>DECLARACIÓN DE PRIVACIDAD</h2>
                <h4>SECCIÓN 1 - ¿QUÉ HACEMOS CON SU INFORMACIÓN?</h4>
                <p>
                    Cuando usted compra
                    algo en nuestra tienda, como parte del proceso de
                    compra y venta, recogemos información personal suya,
                    como su nombre, dirección y correo
                    electrónico. Cuando navega por nuestra tienda,
                    también recibimos automáticamente la dirección IP de
                    su ordenador. Utilizamos esta información para
                    proporcionarnos datos que nos ayuden a entender mejor
                    su navegador y su sistema operativo. Marketing
                    por correo electrónico (si procede): Con su permiso,
                    podemos enviarle correos electrónicos sobre nuestra
                    tienda, nuevos productos y otras
                    actualizaciones.
                </p>
                <br><br><br>
                
                <h4>SECCIÓN 2 -CONSENTIMIENTO</h4>
                <br>
                <h5>¿Cómo obtienen mi consentimiento?</h5>
                <p>
                    Cuando usted nos proporciona su información personal para completar una
                    transacción, verificar su tarjeta de crédito, crear un
                    pedido, organizar el envío o hacer una devolución,
                    asumimos que usted consiente la recopilación y el uso de
                    esa información sólo para ese propósito
                    específico. Si le pedimos su información personal
                    para un propósito secundario, como el marketing, le
                    pediremos directamente su consentimiento expreso o le
                    daremos la oportunidad de
                    excluirse.
                </p>
                <br>
                <h5>¿Cómo puedo retirar mi consentimiento?</h5>
                <p>
                    Si cambia de opinión
                    después de haber dado su consentimiento, puede retirar
                    su consentimiento para que nos pongamos en contacto
                    con usted para la recopilación, el uso o la divulgación
                    de su información en cualquier momento poniéndose en
                    contacto con nosotros en infodigirethnetword@gmail.com o
                    escribiéndonos a digirethnetword madrid, madrid,
                    MD, 28032, España.
                </p>
                <br><br><br>
                
                <h4>SECCIÓN 3 - DIVULGACIÓN</h4>
                <p>
                    Podemos revelar su información personal si estamos obligados a hacerlo por ley o si
                    usted viola nuestras condiciones de
                    uso. Nuestra tienda está alojada en
                    Shopify Inc. que nos proporciona la plataforma de
                    comercio electrónico en línea que nos permite vender
                    nuestros productos y servicios a usted. Sus
                    datos se guardan a través del almacenamiento de datos de
                    Shopify, las bases de datos y la aplicación general
                    de Shopify. Sus datos se almacenan en un servidor seguro
                    detrás de un cortafuegos.
                </p>
                <br><br><br>
                
                <h5>El pago:</h5>
                <p>
                    Si eliges una pasarela de pago
                    directa para realizar tu compra, Shopify almacena
                    los datos de tu tarjeta de crédito. Está encriptado de
                    acuerdo con la norma de seguridad de datos del sector
                    de las tarjetas de pago (PCI-DSS). Los datos de sus
                    transacciones de compra sólo se almacenan en la medida
                    necesaria para completar la transacción de compra. Una
                    vez completada la transacción, la información de su
                    transacción de compra se elimina. Todas las
                    pasarelas de pago directo cumplen las normas
                    establecidas
                    por PCI-DSS, definidas por el PCI Security Standards
                    Council, que es un esfuerzo conjunto de marcas como
                    Visa, MasterCard, American Express y Discover. Los
                    requisitos de la PCI-DSS ayudan a garantizar el
                    procesamiento seguro de la información de las tarjetas
                    de crédito por parte de los minoristas y sus
                    proveedores de servicios. Para una visión más
                    clara, también puedes leer las condiciones de uso de
                    Shopify aquí o la declaración de privacidad aquí.
                </p>
                <br><br><br>

                <h4>SECCIÓN 5 - SERVICIOS DE TERCEROS</h4>
                <p>
                    En general, los terceros proveedores de servicios
                    que utilizamos sólo recogerán, utilizarán y divulgarán su
                    información en la medida necesaria para que puedan
                    realizar los servicios que nos prestan. Sin embargo,
                    algunos proveedores de servicios de terceros, como
                    las pasarelas de pago y otros procesadores de transacciones
                    de pago, tienen sus propias políticas de privacidad
                    con respecto a la información que estamos obligados a
                    proporcionarles para las transacciones relacionadas con la
                    compra. En el caso de estos proveedores, le
                    recomendamos que lea sus políticas de privacidad para
                    entender cómo se tratará su información personal. En
                    particular, tenga en cuenta que algunos proveedores
                    pueden estar ubicados o tener instalaciones en una
                    jurisdicción diferente a la suya o a la nuestra. Por
                    ejemplo,
                    si desea realizar una transacción que implique los servicios
                    de un proveedor de servicios externo, su
                    información puede estar sujeta a las leyes de la(s)
                    jurisdicción(es) en la(s) que se encuentra el proveedor de
                    servicios o sus instalaciones. Por ejemplo, si usted
                    se encuentra en Canadá y su transacción se procesa a
                    través de una pasarela de pago con sede en Estados Unidos,
                    su información personal utilizada para completar la
                    transacción puede estar sujeta a la divulgación en virtud de
                    la legislación de Estados Unidos, incluida la Ley
                    Patriota. Una vez que abandone el sitio web de
                    nuestra tienda o sea redirigido a un sitio web o
                    aplicación de terceros, ya no se regirá por esta Política de
                    Privacidad ni por las Condiciones de Servicio de
                    nuestro sitio web. Enlaces Al hacer clic en
                    los enlaces de nuestra tienda, es posible que sea
                    redirigido fuera de nuestro sitio. No somos responsables de
                    las prácticas de privacidad de otros sitios y le
                    recomendamos que lea sus políticas de privacidad.
                    </p>
                    <br><br><br>

                    <h4>SECCIÓN 6 - SEGURIDAD</h4>
                    <p>
                        Para
                        proteger su información personal, tomamos precauciones
                        razonables y seguimos las mejores prácticas de la
                        industria para asegurarnos de que no haya pérdida de manera
                        inapropiada, mal uso, acceso, divulgación,
                        alteración o destrucción de la misma. Si nos
                        proporciona los datos de su tarjeta de crédito, esta
                        información se encripta mediante la tecnología Secure Socket
                        Layer (SSL) y se almacena con una codificación
                        AES-256. Aunque ningún método de transmisión por Internet o
                        de almacenamiento electrónico es 100% seguro,
                        cumplimos con todos los requisitos de PCI-DSS y aplicamos
                        normas adicionales aceptadas por el
                        sector.
                    </p>
                    <br><br><br>

                    <h5>COOKIES</h5>
                    Aquí
                    tienes una lista de las cookies que utilizamos. Los
                    enumeramos para que puedas elegir si quieres eliminarlos o
                    no.
                    <ul>
                        <li>
                            session_id, token único, de sesión,
                            Permite a Shopify almacenar información sobre su sesión
                            (referente, página de destino,
                            etc).
                        </li>
                        <li>
                            _shopify_visit, no se guardan datos,
                            Persistente durante 30 minutos desde la última visita,
                            Utilizado por el rastreador de estadísticas interno de
                            nuestro proveedor del sitio web para registrar el número
                            de visitas.
                        </li>
                        <li>
                            _shopify_uniq, sin datos, caduca a
                            medianoche (en relación con el visitante) del día
                            siguiente, Cuenta el número de visitas a una tienda por un
                            solo cliente.
                        </li>
                        <li>
                            carrito, token único,
                            persistente durante 2 semanas, almacena información sobre el
                            contenido de su carrito.
                        </li>
                        <li>
                            _secure_session_id,
                            token único, sesión
                        </li>
                        <li>
                            storefront_digest, token único,
                            indefinido Si la tienda tiene una contraseña, se
                            utiliza para determinar si el visitante actual tiene acceso.
                        </li>
                    </ul>
                   <br><br><br>
                    
                    <h4>SECCIÓN 7 - EDAD DE CONSENTIMIENTO</h4>
                    <p>
                        Al utilizar este sitio,
                        usted declara que es mayor de edad en su estado o
                        provincia de residencia, o que es mayor de edad en su estado
                        o provincia de residencia y nos ha dado su
                        consentimiento para permitir que cualquier menor a su cargo
                        utilice este sitio.
                    </p>
                    <br><br><br>
                    
                    <h4>SECCIÓN 8 - CAMBIOS EN ESTA POLÍTICA DE PRIVACIDAD</h4>
                    <p>
                        Nos reservamos el
                        derecho a modificar esta política de privacidad en
                        cualquier momento, por lo que le rogamos que la consulte
                        con frecuencia. Los cambios y las aclaraciones entrarán
                        en vigor cuando se publiquen en el sitio web. Si
                        realizamos cambios importantes en esta política, le
                        notificaremos aquí la actualización para que sepa qué
                        información recopilamos, cómo y en qué circunstancias,
                        si las hay, la utilizamos y/o divulgamos.<br>Si
                        nuestra tienda es adquirida o se fusiona con otra
                        empresa, su información puede ser transferida a los
                        nuevos
                        propietarios para que podamos seguir vendiéndole
                        productos.
                    </p>
                    <br><br><br>
                        
                    <h4>PREGUNTAS E INFORMACIÓN DE CONTACTO</h4>
                    <p>
                        Si desea: acceder,
                        corregir, modificar o eliminar cualquier información
                        personal que tengamos sobre usted, presentar una queja o
                        simplemente obtener más información, póngase en
                        contacto con nuestro Responsable de Cumplimiento de la
                        Privacidad infodigirethnetword@gmail.com o por correo
                        en digirethnetword<br><br>[Re: Oficial de Cumplimiento
                        de la Privacidad]<br><br>[madrid, madrid, MD, 28032,
                        España].<br><br>----<br>
                    </p>
            </div>
        </div>
    </div>
</div>