<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
      aria-expanded="false" aria-controls="collapseFour">
    Política de devoluciones
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div style="text-align: justify;">
        <h4> ¿CÓMO DEVOLVER UN ARTÍCULO?</h4>
        <p>Si no está satisfecho con su compra y desea devolver un artículo, póngase en contacto con nosotros en un
          plazo de 30 días desde la recepción del pedido. Por favor, incluya su número de pedido y el motivo de
          su
          devolución. Nuestro equipo de atención al cliente revisará la solicitud de devolución y enviará más
          instrucciones si la devolución es aprobada. Sólo se aceptarán los artículos comprados directamente a
          digirethnetword. En el caso de los productos adquiridos en comercios autorizados, póngase en contacto con
          ellos
          directamente para realizar la devolución. Los artículos devueltos deben estar en su embalaje original,
          incluidos los accesorios, los manuales y la documentación. Los artículos devueltos deben estar sin usar, en
          las
          mismas condiciones en las que los enviamos y en su embalaje original. No se aceptarán manchas, tarjetas
          dobladas, sellos rotos o láminas de plástico rotas. Si el estado del producto enviado no es aceptable, nos
          reservamos el derecho de no devolverlo o cambiarlo. Los productos personalizados no se pueden reembolsar ni
          cambiar. Entre los artículos no retornables se encuentran los comprados a minoristas, los productos
          comprados de forma incorrecta y los dañados por la mala manipulación del cliente. Las devoluciones realizadas
          sin recibo pueden ser rechazadas. digirethnetword se reserva el derecho de rechazar cualquier
          devolución.
          <br><br>
          <h4>    
              ¿QUÉ OCURRE SI LOS ARTÍCULOS QUE HE RECIBIDO SON DEFECTUOSOS/INCORRECTOS/ESTÁN
              DAÑADOS?
            </h4>
            
        <p>¿Ha recibido un aparato defectuoso o un producto en mal estado? ¿No está satisfecho con su pedido?
          Póngase en
          contacto con nuestro equipo de atención al cliente en nuestra página de contacto: para iniciar el
          procedimiento
          de devolución. Por favor, incluya la siguiente información:<br>- Número de pedido<br>- Prueba de
          compra<br>- Vídeo o foto del producto defectuoso (si procede)<br>- Dirección de entrega
          completa<br>- Número de teléfono de contacto<br>En algunos casos, es posible que se le pida que
          incluya
          un vídeo o una foto del producto defectuoso como prueba de compra para que podamos reembolsar o sustituir el
          producto.
          
        <h4>
            ¿CUÁNTO TIEMPO DURA EL PROCESO DE DEVOLUCIÓN?
        </h4>
        <p>Las devoluciones pueden tardar hasta 14 días laborables en procesarse desde el día en que recibimos la
          devolución. Le enviaremos un correo electrónico de confirmación una vez que su devolución haya sido procesada.
          En el caso de los artículos devueltos, se abonará un reembolso completo por los productos defectuosos. Para
          los
          artículos no defectuosos, el reembolso excluye todos los gastos de envío.<br><br>
        </p>
        <h4>¿CUÁNDO RECIBIRÉ MI REEMBOLSO?</h4>
        <p>Todos los reembolsos se abonarán a su método de pago original. Si ha pagado con tarjeta de crédito o
          débito,
          el reembolso se enviará al banco emisor de la tarjeta en un plazo de 14 días laborables a partir de la
          recepción
          del artículo devuelto o de la solicitud de cancelación. Póngase en contacto con el banco emisor de su tarjeta
          si
          tiene alguna duda sobre cuándo se abonará el importe en su cuenta. Si aún no ha recibido el crédito por su
          devolución, póngase en contacto con su banco o compañía de tarjetas de crédito. Es posible que el reembolso
          tarde un poco en ser contabilizado en su cuenta.<br><br>
        </p>
        <h4>
            ¿CÓMO PUEDO CAMBIAR O CANCELAR MI PEDIDO?
        </h4>
        <p>Póngase en contacto con nosotros lo antes posible si necesita cambiar o cancelar su pedido. Asegúrese de
          incluir su número de pedido y el cambio que desea realizar. Le confirmaremos que el cambio se ha realizado.
          Tenga en cuenta que los pedidos que ya han sido empaquetados o enviados no pueden ser modificados o
          cancelados.
        </p>
      </div>
    </div>
  </div>
</div>
